@import "./../colors";

.hello {
    display: flex;
    background: $yellow;
    width: 100px;
    height: 100px;
    padding: 10px;

    &:hover {
        background: $green;
    }
}

p {
    background: $red;
}

.list {
    padding: 10px;

    &__item {
        height: 30px;
    }
}